
/* p {
    margin-left: 0px;
    background-color:aqua;
    padding: 10px;
    border: 3px;
    border-style: solid;
    text-align: center;
    line-height: 20px;
} */

.container {
    display: flex;
}