

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    min-height: 100dvh;
}

header {
    background-color: gray;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
}

main {
    max-width: 700px ;
    margin: 0 auto;
    padding: 20px;
    height: 100%;
}

footer {
    background-color: gray;
    color: bisque;
    text-align: center;
    padding: 5px;
    bottom: 0;
}

@media (max-width: 767px) {
    header {
        font-size: 20px;
    }

    main {
        font-size: 18px;
        padding: 25px;
        text-align: center;
        line-height: 25px;
    }

    footer {
        font-size: 16px;
    }

    img {
    width: 100%;
}

}


@media (min-width: 768px) and (max-width: 1023px) {

 header {
        font-size: 27px;
    }

    main {
        font-size: 25px;
        padding: 30px;
        text-align: center;
        line-height: 28px;
    }

    footer {
        font-size: 16px;
    }

    img {
    width: 100%;
}

}

@media (min-width: 1024px) {
 header {
        font-size: 27px;
    }

    main {
        font-size: 25px;
        padding: 30px;
        text-align: center;
        line-height: 28px;
    }

    footer {
        font-size: 16px;
    }

    img {
    width: 100%;
}

}
