@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: rgb(29, 27, 27);
    margin: 0;
}

header {
    display: flex;
    background-color: #333;
    color: #fff;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content:space-around;
    list-style-type: none;
}

li {
    margin-right: 30px;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: rgb(231, 159, 25);
}