
/* Seleccion por medio de nombres de etiquetas */
body {
    background-color: rgb(233, 233, 233);
}
p {
    color: rgb(38, 38, 39);
    background-color: aqua;
}

h1 {
    font-size:x-large ;
}

h2 {
    text-decoration: underline;
}

/* Selección por medio de clases (class) - Son reutilizables */
.parrafo-1 {
    background-color: rgb(240, 149, 149);
}

.parrafo-2 {
    background-color: rgb(175, 112, 233);
}

/* Selección por medio de ID´s */

#titulo-principal {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
    font-weight: 900;
}