@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

p {
    color: rgb(97, 94, 94);
    line-height: 25px;
    letter-spacing: 1px;
}

h1 {
    font-size: xx-large;
    font-weight: bold;
    color: rgb(89, 5, 5);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    color: rgb(89, 57, 57);
}

h3 {
    text-decoration: underline;
}

li {
    line-height: 30px;
    list-style-type: circle
}

footer > p {
    text-align: center;
}