

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: rgb(65, 63, 63);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin-bottom: 16px;
}

a {
    text-decoration: none;
}

.btn {
    padding: 0.8rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

header {
    background-color: rgb(44, 44, 197);
    color: antiquewhite;
}

li {
    list-style-type: none;
}

.nav-toggle-checkbox {
    display: none;
}



@media (max-width: 767px) {
.header-container {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
a {
    color: white;
}
}

.nav-menu {
    display: none;
}

.nav-toggle-checkbox:checked ~ nav .nav-menu {
    display: flex;
}



}






@media (min-width: 768px) and (max-width: 1023px) {

 
}

@media (min-width: 1024px) {

}
